body {
  margin: 0;
  font-family: 'Open Sans', sans-serif,'Shadows Into Light', cursive; //'Bigelow Rules', cursive, 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
